.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 300px;
    height: 200px;
    /* display: grid; */
    place-items: center;
    margin-top: 5px;
    margin-left: 810px;
  }
  
  .modify {
    margin-top: 24px;
    margin-left: 40%;
    display: grid;
  }
  
  .text {
    /* Center horizontally*/
    text-align: center;
  }

.font {
  color: blanchedalmond;
  font-size: 16px;
}

.img {
height: 57.2125px;
width: 57.5px;
background-color: none;
}

.backButton {
background-color: transparent;
border-color: transparent;
}